{% extends "base.html" %}
{% load static %}
{% block title %}{{post.title}}{% endblock title %}
{% block style_css %}
<link rel='stylesheet' href='{% static "blog/post-detail.css"%}'>

{% endblock style_css %}
{% block content %}

<section id="all-posts">
    <section id="summary">
        <h2>
           {{post.title}}
        </h2>
        <div>
            {%for tag in post_tags%}
            <span class='tag'>{{tag.caption}}</span>
            {%endfor%}
        </div>

        <div id="read-later">
            <form action="{% url "read-later" %}" method='POST'>
                {% csrf_token %}
            <input type="hidden" value="{{post.id}}" name="post_id"> 
            <button>Read Later</button>
            </form>
        </div>


        <article>
            <img src="{{post.image.url}}" alt="{{post.title}}"/>
            <address>By <a href="mailto:{{post.author.email}}">{{post.author}}</a></address>
            <div>
                Last Updated On <time>{{post.date|date:"D d M Y"}}</time>
            </div>
        </article>
    </section>

    {% if comment_form.errors%}
    <div><h2>Saving the comment failed!</h2></div>
    {%endif%}

      
    <main>
        <p>
            {{post.content}}</p>
            </main>

    <section id='comments'>
        <ul>
            {% for comment in comments %}
            <li>
                <h2>{{comment.user_name}}</h2>
                <p>{{comment.text}}</p>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section id="comment-form"> 
        <h2>Your Comment</h2>  
        <form action="{% url "post-detail-page" post.slug%}"  method="post">
            {% csrf_token %}
            {% for form_field in comment_form%}
            <div class ="form-control {% if form_field.errors %}invalid{%endif%}">
            {{form_field.label_tag}}
            {{form_field}}
            {{form_field.errors}}
            </div>
             {% endfor %}
             <button>Save Comment</button>
        </form>
    </section>
</section>
{% endblock content %}